    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    body {
        background-color: #FAF7FD;
        display: flex;
        flex-direction: row;
    }
    
    header {
        width: 25vw;
        height: 100vh;
        background-color: #202020;
        display: flex;
        flex-direction: column;
    }
    
    header .logo {
        margin-top: -25px;
        margin-bottom: 15px;
        width: 100%;
        height: 10vh;
        text-align: center;
    }
    
    .flex-container {
        width: 75vw;
        height: 100%;
        padding: 2rem;
    }
    
    .flex-container table {
        width: 100%;
        text-align: left;
        padding: 2rem;
        border-spacing: 0;
        border-radius: 2%;
    }
    
    .button-editar {
        background-color: #555;
        color: #FAF7FD;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 3%;
    }
    
    td,
    th {
        border-top: 1px solid lightgray;
        padding: 1rem;
    }
    
    tr:nth-child(even) {
        background: rgba(85, 85, 85, 0.082);
    }
    
    .h1 {
        color: blueviolet;
    }
    
    form {
        padding: 3rem;
    }
    
    .flex-container .input-30 {
        width: 30%;
        float: left;
    }
    
    .flex-container .input-65 {
        width: 65%;
        float: left;
        margin-left: 5%;
    }
    
    .flex-container label {
        font-size: 18px;
    }
    
    .flex-container h1 {
        font-size: 40px;
    }
    
    .flex-container .input-100 {
        width: 100%;
        float: left;
    }
    
    input {
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 1%;
        border-style: none;
        width: 100%;
        padding: 1rem;
        background-color: rgba(85, 85, 85, 0.082);
    }
    
    .flex-container .div-button {
        margin-top: 2rem;
        width: 100%;
    }
    
    .div-button button {
        border-radius: 3px;
        width: 20%;
        padding: 1rem;
        float: right;
        font-size: 16px;
        color: white;
        font-weight: 600;
        border-style: none;
    }
    
    .cadastrar,
    .cancelar {
        background-color: #202020;
    }
    
    .atualizar {
        background-color: rgb(71, 204, 160);
        margin: 0 5px;
    }
    
    .excluir {
        background-color: rgba(245, 3, 3, 0.808);
    }
    
    .div-button button:hover {
        background-color: #555;
    }
    
    header ul {
        list-style-type: none;
        margin: 0;
        padding-top: 5rem;
        width: 100%;
    }
    
    li a {
        display: block;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }
    
    li a:hover,
    .active {
        background-color: #555;
        color: white;
    }
    
    .active {
        border-left: 4px solid #FAF7FD;
    }
    
    @media (max-width: 850px) {
        body {
            display: flex;
            flex-wrap: wrap;
        }
        header {
            width: 100%;
            height: 50vh;
        }
        ul {
            text-align: center;
        }
        .flex-container {
            width: 95%;
        }
        .flex-container .input-30,
        .flex-container .input-65 {
            width: 100%;
        }
        .flex-container .input-65 {
            margin-left: 0%;
        }
        .div-button button {
            width: 100%;
        }
        h1 {
            text-align: center;
            font-size: 16px;
        }
        table thead {
            display: none;
        }
        table tbody td {
            display: flex;
            flex-direction: column;
        }
        td,
        th {
            padding: 1rem;
        }
        .button-editar {
            text-align: center;
        }
        .atualizar {
            margin: 5px 0;
        }
    }